
/* ---------- all the page share these ----------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0%;
    padding: 0%;
    background: #000;
    overflow: hidden;
}


.power {
    font-family: 'Poppins';
    font-size: 98px;
    font-weight: 800;
    color: #45D3BD;
    margin: 0;
    width: 750px;
    text-align: center;
}

.lil-power {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    width: 750px;
    text-align: center;
}

.btn-hidden-left {
    height: 110px;
    width: 645px;
    background-color: #45D3BD;
    color: #000000;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
    text-decoration: none;
    margin-top: 60px;
    position: absolute;
    bottom: -511px;
    left: 0px;
  }
  
  .btn-hidden-right {
    height: 110px;
    width: 645px;
    background-color: #284944;
    color: #000000;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
    text-decoration: none;
    margin-top: 60px;
    position: absolute;
    bottom: -511px;
    right: -287px;
}


.line {
    width: 150px;
    height: 6px;
    background-color: #45D3BD;
}

/* ----------------------------------------------- */




.outer-powerslider-tb {
  position: absolute;
  top: 200px;
  left: 480px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.slider-info {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
}
  
.power-info {
  width: 400px;
  height: 100;
  margin-top: 600px;
  margin-left: 340px;
}

.power-output {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 75px;
  color: #fff;
  margin: 0;

}

.power-price {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 75px;
  color: #fff;
  margin: 0;
  margin-left: 30px;
}


.line-pos-1 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 64px;
}


/* the button */
.pay-butn-outer {                                     
  margin-top: 350px;
  margin-left: 355px;

}
.pay-butn-inner {
  height: 110px;
  width: 345px;
  background-color: #45D3BD;
  color: #000000;
  border-radius: 100px;
  text-align: center;
  margin-left: -69px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 45px;
  font-weight: 600;
  font-family: 'Poppins';
  text-decoration: none;
  margin-top: 60px;
  text-decoration: none;
}


.faded-car-kiosk {
  position: absolute;
  margin-top: 150px;
  height: 680px;

}

.grad-circ-slider {
  position: absolute;
  top: 236px;
  right: 0px;
  height: 700px;
  margin: 0;
  overflow: hidden;
}





/* ----------------this is the css for the slider-------------- */

.range{
    height: 80px;
    width: 600px;
    padding: 0 65px 0 45px;
    margin-top: 179px;
    margin-left: 15%;
  }
  
  .sliderValue{
    position: relative;
    width: 100%;
  }
  
  .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-70%) scale(0);
    font-size: 50px;
    font-weight: 500;
    top: -135px;
    line-height: 60px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #fff;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-family: poppins;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
  }
  .field .value.left{
    left: -34px;
    right: 610px;
  }
  
  .field .value.right{
    right: -43px;
    left: 610px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 16px;
    background: #45D3BD;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 80px;
    background: red;
    background: #45D3BD;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }

  p.slider {
      font-size: 45px;
      font-weight: 200;
      margin: 0;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 6000px;
    height: 6000px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }